.contact-container{
    margin-top: 10px;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #141f3d;
    color: white;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
}
.part1{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    

}
.part2{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    

}
.parag1{
    width: 30%;
}
.parag2{
    width: 70%;
    text-align: justify;
    margin-right: 20px;
}
.parag4{
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1110px) {
    .contact-container{
        width: 1110px;
    }
  
  }
  @media only screen and (max-width: 1024px) {
    .contact-container{
        width: 1024px!important;
    }
  
  }
  @media only screen and (max-width: 910px) {
    .contact-container{
        width: 910px!important;
    }
  
  }
  @media only screen and (max-width: 810px) {
    .contact-container{
        width: 810px!important;
    }
 
  }
  
  
  @media only screen and (max-width: 540px) {
    .contact-container{
        width: 540px!important;
        height: 650px;
    }
  .part1{
      display: flex;
      flex-direction: column;
  }
  .part2{
      width: 100%;
      
  }
    
    
  }
 
   
  
  @media only screen and (max-width: 414px) {
    .contact-container{
        width: 414px!important;
        height: 650px;
    }
  .part1{
      display: flex;
      flex-direction: column;
  }
  .part2{
      width: 100%;
      
  }
    
    
  }
  @media only screen and (max-width: 411px) {
    .contact-container{
        width: 411px!important;
        height: 650px;
    }
  .part1{
      display: flex;
      flex-direction: column;
  }
   
  }

  @media only screen and (max-width: 375px) {
    .contact-container{
        width: 375px!important;
        height: 650px;
    }
  .part1{
      display: flex;
      flex-direction: column;
  }
}
@media only screen and (max-width: 360px) {
    .contact-container{
        width: 360px!important;
        height: 650px;
    }
  .part1{
      display: flex;
      flex-direction: column;
  }
    
    
  }
  @media only screen and (max-width: 320px) {
    .contact-container{
        width: 320px!important;
        height: 650px;
    }
  .part1{
      display: flex;
      flex-direction: column;
  }
    
    
  }