.home-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 670px;
    min-height: 670px;
    background-image:url( "../../../assets/Home/bg4.jpg");
    background-repeat: no-repeat;
}
@media only screen and (max-width: 540px) {
    .home-container{
        width: 540px!important;
       
    }
    
  }
  @media only screen and (max-width: 414px) {
    .home-container{
        width: 414px!important;
       
    }
    
  }
  @media only screen and (max-width: 411px) {
    .home-container{
        width: 411px!important;
       
    }
    
  }
  @media only screen and (max-width: 375px) {
    .home-container{
        width: 375px!important;
       
    }
    
  }
  @media only screen and (max-width: 360px) {
    .home-container{
        width: 360px!important;
       
    }
    
  }
@media only screen and (max-width:320px){
    .home-container{
    width: 320px!important;
    }
    
}
@media only screen and (max-width:280px){
    .home-container{
    width: 280px!important;
    }
    
}

