.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 450px;
  min-height: 450px;
  background-color: white;
}
@media only screen and (max-width: 912px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 820px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 768px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 540px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 414px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 412px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 390px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 375px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 360px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 320px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
@media only screen and (max-width: 280px) {
  .home-container {
    max-width: 100vw !important;
    min-width: 100vw !important;
  }
}
